[MASTER]
init-hook="from pylint.config import find_pylintrc; import os, sys; sys.path.extend([os.path.expanduser('~/.pylint.d')])"
load-plugins=pylint.extensions.bad_builtin, pylint.extensions.check_elif, pylint.extensions.docparams, pylint.extensions.emptystring, pylint.extensions.extended_builtins, pylint.extensions.redefined_variable_type, pylint.extensions.simplify

[MESSAGES CONTROL]
disable=C0114, C0115, C0116

[REPORTS]
output-format=colorized